@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS for map styling */


/* Ensure map container fills its parent */
.leaflet-container {
  height: 100%;
  width: 100%;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

